<div class="px-4 py-5 text-light  text-center bg-secondary"
    style="background-image: url(https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/div-section-bg.png) ; background-size:cover ; background-position: center; background-repeat: no-repeat;">

    <h1 class="display-5 fw-bold text-light">DU lỊCH GIẢI SẦU - QUÊN HẾT ÂU LO</h1>
    <h3> Nhanh tay tìm kiếm Tour và đặt Tour tại PT Travel để nhận được nhiều ưu đãi!</h3>
    <div class="col-lg-6 mx-auto">

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <div class="input-group mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Chọn điểm đến
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
                <input type="text" placeholder="Tìm kiếm Tour ...
            " class="form-control" aria-label="Text input with dropdown button">
                <a name="" id="" class="btn btn-primary" href="#" role="button"><i class="bi bi-search"></i> TÌM
                    TOUR NGAY</a>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="row justify-content-center align-items-center g-2  ">
                <div class=" col-md-12 col-lg-6 d-flex justify-content-center align-items-center flex-column"><img
                        src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/12-nam-png@2x.png"
                        class="img-fluid rounded-top" alt="" /></div>
                <div
                    class="col-md-12 col-lg-6 text-warning d-flex justify-content-center align-items-center flex-column">
                    <p class="h5">
                        12 năm chặng đường
                    </p>
                    <p class="h5">
                        CHINH PHỤC MỘT NIỀM TIN
                    </p>

                </div>

            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center flex-column">
            <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/luon-co-gia-tot-2-png@2x.png"
                class="img-fluid rounded-top" alt="" />
            <p>Luôn có giá tốt</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center flex-column">
            <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/cong-ty-du-lich-hang-dau-2-png@2x.png"
                class="img-fluid rounded-top" alt="" />
            <p>Luôn có giá tốt</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center flex-column">
            <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/99-hai-long-2-png@2x.png"
                class="img-fluid rounded-top" alt="" />
            <p>Luôn có giá tốt</p>
        </div>
    </div>

</div>
<div class="container">
    <div class=" d-flex justify-content-between align-items-center  ">
        <h4 class="text-primary">TOUR KHUYẾN MÃI</h4>
        <a href="#!danhmuc">xem tất cả</a>
    </div>
</div>
<div class="container overflow-x-hidden">
    <div class="swiper1   " style="height: 500px; width: 100%;">
        <div class="swiper-wrapper   ">

            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/tour-da-nang-hoi-an-4-ngay-3-dem-800x800-jpg@2x.png"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/12/Du-xuan-Ha-Noi-Yen-Tu-Cua-Ong-Con-Son-Kiep-Bac-2-ngay-1-dem-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/12/Du-xuan-Ha-Noi-Yen-Tu-Cua-Ong-Con-Son-Kiep-Bac-2-ngay-1-dem-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/tour-da-nang-hoi-an-4-ngay-3-dem-800x800-jpg@2x.png"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/12/Du-xuan-Ha-Noi-Yen-Tu-Cua-Ong-Con-Son-Kiep-Bac-2-ngay-1-dem-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->

        <!-- If we need navigation buttons -->
        <!-- If we need scrollbar -->
    </div>

</div>
<div class="container">
    <div class=" d-flex justify-content-between align-items-center  ">
        <h4 class="text-primary">TOUR KHUYẾN MÃI</h4>
        <a href="#!danhmuc">xem tất cả</a>
    </div>
</div>
<div class="container overflow-x-hidden">
    <div class="swiper1   " style="height: 500px; width: 100%;">
        <div class="swiper-wrapper   ">

            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/tour-da-nang-hoi-an-4-ngay-3-dem-800x800-jpg@2x.png"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/tour-da-nang-hoi-an-4-ngay-3-dem-800x800-jpg@2x.png"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/11/Du-lich-Trung-Quoc-6N5D-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/tour-da-nang-hoi-an-4-ngay-3-dem-800x800-jpg@2x.png"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/tour-da-nang-hoi-an-4-ngay-3-dem-800x800-jpg@2x.png"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->

        <!-- If we need navigation buttons -->
        <!-- If we need scrollbar -->
    </div>

</div>
<div class="container">
    <div class=" d-flex justify-content-between align-items-center  ">
        <h4 class="text-primary">TOUR KHUYẾN MÃI</h4>
        <a href="#!danhmuc">xem tất cả</a>
    </div>
</div>
<div class="container overflow-x-hidden">
    <div class="swiper1   " style="height: 500px; width: 100%;">
        <div class="swiper-wrapper   ">

            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/11/Du-lich-Trung-Quoc-6N5D-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/11/tour-du-lich-ha-khau-trung-quoc-2-ngay-1-dem-pt-travel-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/11/tour-du-lich-ha-khau-trung-quoc-2-ngay-1-dem-pt-travel-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://pttravel.vn/wp-content/uploads/2023/11/Du-lich-Trung-Quoc-6N5D-800x800.jpg"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-12 col-md-6 col-lg-3">
                <div class="card border-0">

                    <div class="card-body p-0">
                        <img src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/tour-da-nang-hoi-an-4-ngay-3-dem-800x800-jpg@2x.png"
                            class="img-fluid rounded-top" alt="">


                    </div>
                    <div class="card-footer text-muted p-0 bg-white ">
                        <a href="./chi-tiet-san-pham.html" class="text-primary">Tour Đà Nẵng Hội An 4 ngày 3 đêm từ
                            Hà
                            Nội giá tốt</a>
                        <div class="d-flex justify-content-between align-items-center text-center">
                            <div> 4 ngày 3 đêm</div>
                            <div>
                                5.550.000 đ
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div></div>
                            <div>
                                5.090.000 đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->

        <!-- If we need navigation buttons -->
        <!-- If we need scrollbar -->
    </div>

</div>
<div class="container mb-5 mt-5">
    <div class="row  g-2">
        <div class="col-lg-6 col-md-12">
            <div class="row h-100   g-2">
                <div class=" d-flex justify-content-between align-items-center  ">
                    <h4 class="text-primary">TOUR KHUYẾN MÃI</h4>
                    <a href="./danh-muc-tin-tuc.html">xem tất cả</a>
                </div>
                <div class="card  ">
                    <img class="card-img-top"
                        src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/link---khung-canh-duoc-nhin-tu-ngon-doi-laozhai-jpg.png"
                        alt="Title" />
                    <div class="card-body h-100">
                        <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ A-Z</p>
                        <p class="card-text ">11/14/2023</p>
                    </div>
                </div>
                <div class="row  g-2">
                    <div class="col">
                        <div class="card  ">
                            <img class="card-img-top"
                                src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/link---khung-canh-duoc-nhin-tu-ngon-doi-laozhai-jpg.png"
                                alt="Title" />
                            <div class="card-body p-0">
                                <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                    A-Z</p>
                                <p class="card-text ">11/14/2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  ">
                            <img class="card-img-top"
                                src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/link---khung-canh-duoc-nhin-tu-ngon-doi-laozhai-jpg.png"
                                alt="Title" />
                            <div class="card-body p-0">
                                <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                    A-Z</p>
                                <p class="card-text ">11/14/2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  ">
                            <img class="card-img-top"
                                src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/link---khung-canh-duoc-nhin-tu-ngon-doi-laozhai-jpg.png"
                                alt="Title" />
                            <div class="card-body p-0">
                                <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                    A-Z</p>
                                <p class="card-text ">11/14/2023</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class=" d-flex justify-content-between align-items-center  ">
                <h4 class="text-primary">TOUR KHUYẾN MÃI</h4>
                <a href="./danh-muc-tin-tuc.html">xem tất cả</a>
            </div>
            <div class="card mt-2 ">

                <div class="card-body p-0">
                    <div class="d-flex  align-items-center g-2">

                        <img style="height: 100px;"
                            src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/xe-da-nang-di-ba-na-hills-jpg@2x.png"
                            class="img-fluid rounded-top " alt="" />

                        <div class="p-1">
                            <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                A-Z</p>
                            <p class="card-text ">11/14/2023</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card mt-2 ">

                <div class="card-body p-0">
                    <div class="d-flex  align-items-center g-2">

                        <img style="height: 100px;"
                            src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/xe-da-nang-di-ba-na-hills-jpg@2x.png"
                            class="img-fluid rounded-top " alt="" />

                        <div class="p-1">
                            <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                A-Z</p>
                            <p class="card-text ">11/14/2023</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card mt-2 ">

                <div class="card-body p-0">
                    <div class="d-flex  align-items-center g-2">

                        <img style="height: 100px;"
                            src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/xe-da-nang-di-ba-na-hills-jpg@2x.png"
                            class="img-fluid rounded-top " alt="" />

                        <div class="p-1">
                            <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                A-Z</p>
                            <p class="card-text ">11/14/2023</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card mt-2 ">

                <div class="card-body p-0">
                    <div class="d-flex  align-items-center g-2">

                        <img style="height: 100px;"
                            src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/xe-da-nang-di-ba-na-hills-jpg@2x.png"
                            class="img-fluid rounded-top " alt="" />

                        <div class="p-1">
                            <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                A-Z</p>
                            <p class="card-text ">11/14/2023</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card mt-2 ">

                <div class="card-body p-0">
                    <div class="d-flex  align-items-center g-2">

                        <img style="height: 100px;"
                            src="https://cdn.animaapp.com/projects/65e9bdee82ef1684dfd23e1f/releases/65e9be514cad58186f14407c/img/xe-da-nang-di-ba-na-hills-jpg@2x.png"
                            class="img-fluid rounded-top " alt="" />

                        <div class="p-1">
                            <p class="card-text text-primary">Chiêm ngưỡng chốn thần tiên Quế Lâm Trung Quốc từ
                                A-Z</p>
                            <p class="card-text ">11/14/2023</p>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>

</div>
<div class="bg-secondary">
    <div class="container ">
        <div class="row justify-content-center align-items-center g-2 p-3 ">
            <div class="col-sm-12 col-md-4">
                <div class="d-grid gap-2">
                    <button type="button" name="" id="" class="btn btn-primary bg-warning">
                        0826.15.15.15
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="d-grid gap-2">
                    <button type="button" name="" id="" class="btn btn-primary bg-info">
                        Chat Với Chúng Tôi
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="d-grid gap-2">
                    <button type="button" name="" id="" class="btn btn-primary bg-primary">
                        Tư vấn ngay
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    if (typeof swiper === 'undefined') {
        const swiper1 = new Swiper('.swiper1', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            slidesPerView: 1,
            breakpoints: {
                540: {
                    slidesPerView: 1,
                },
                720: {
                    slidesPerView: 2,
                },
                960: {
                    slidesPerView: 4,
                },
            },
            autoplay: {
                delay: 1000, // Thời gian chờ trước khi chuyển slide (đơn vị: mili giây)
            },
        });
    }
</script>