<head>
    <title>SẢN PHẨM</title>

</head>


<body ng-controller="ShopController">
    <p ng-bind="$parent.user[0].phone"></p>

    <p ng-bind="$parent.user.phone"></p>
    <div class="bg-primary p-1 text-white">
        <div class="container">
            <h1>SẢN PHẨM</h1><br>
            <p>Trang chủ / SẢN PHẨM</p>
        </div>
    </div>
    <div class="container mt-5">


        <div class="row justify-content-center g-5">
            <div class="col-9">
                <div>
                    <div>
                        <h3>Danh mục sản phẩm:</h3>
                        <ul>


                            <div ng-repeat="category in categories">
                                <!-- Toggle Button Style 7 -->
                                <label class="toggler-wrapper style-7">
                                    <input type="checkbox" ng-model="selectedCategories[category]"
                                        ng-change="filterByCategory()">
                                    <div class="toggler-slider">
                                        <div class="toggler-knob"></div>
                                    </div>
                                </label>
                                <!-- End Toggle Button Style 7 -->
                                <div class="badge">{{ category }}</div>
                            </div>
                            <div>
                        </ul>
                    </div>
                </div>
                <div class="d-flex text-center align-items-center text-center flex-wrap mb-5">
                    <a name="" id="" class=" m-1 text-white"> <input class="form-control" type="text" name="" id=""
                            aria-describedby="emailHelpId" placeholder="Tìm kiếm" ng-model="searchText" /></a>

                    <button class="styling " ng-click="new()">Mới nhất</a>
                    </button>
                    <button class=" styling " ng-click=" sortAsc()">Giá
                        tăng</button>

                    <button class="styling " ng-click="sortDesc()">Giá
                        giảm</button>

                </div>

                <div class=" row justify-content-center align-items-center g-2">
                    <div class="col-sm-12 col-md-6 col-lg-4" data-ng-repeat="i in getCurrentPageItems()">

                        <div class="card-sl">
                            <div class="card-image">
                                <img src="{{i.image}}" />
                            </div>

                            <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                            <div class="card-heading">
                                {{ truncateString(i.title, 20) }}

                            </div>
                            <div class="card-text">
                                {{ truncateString(i.destination, 100) }}
                            </div>
                            <div class="card-text">
                                {{i.price}}
                            </div>
                            <a href="#!chitiet?id={{i.id}}" class="card-button">Chi tiết</a>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center align-items-center g-2 d-flex m-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center">
                            <li class="page-item"><a class="page-link" ng-click="previousPage()" style="
                                background-color: transparent;
                                border: 0;
                            ">Previous</a>
                            </li>
                            <li class="page-item" ng-repeat="number in [].constructor(numPages) track by $index">
                                <a class="page-link   " style="border-radius: 50%;" ng-click="goToPage($index)">{{$index
                                    + 1}}</a>
                            </li>
                            <li class="page-item"><a class="page-link" ng-click="nextPage()" style="
                                background-color: transparent;
                                border: 0;
                            ">Next</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>



</body>